<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>loginsystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
    <!-- Step 1: Declare the Servlet -->
    <servlet>
    <!-- It could be any name -->
        <servlet-name>MyLoginServlet</servlet-name>
     <!-- define the packagename with your actual servlet name -->
        <servlet-class>com.ecomm.servlet.loginservlet</servlet-class>
    </servlet>

    <!-- Step 2: Map the Servlet to a URL -->
    <servlet-mapping>
        <servlet-name>MyLoginServlet</servlet-name>
    <!-- provided to the user/client -->
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
</web-app>

